@using CodePeace.StrawberryJam.Helpers

@Html.AddScriptSource(@<text>$(document).ready(function() { $('h1').after('<p>This is from a partial view, but is bundled with the Footer scripts</p>'); });</text>, "partial-test", area: "foot")
